%section
  .container
    .row
      .col-md-12
        %h1= "DiFF 2014"
    .row
      .col-md-7
        %p
          Am Mittwoch, 28. Mai 2014, steht zum 90-jährigen Jubiläum des Distrikts St. Georg ein ganz spezielles DiFF an: Unter dem Motto Festspiele
          lädt der Korps Limmat beim Turnerhaus Hönggerberg zum spielen, essen und gemütlichen Beisammensein ein.
        %h2= "Das Wichtigste"
        %table
          %tr
            %th= "Wann:"
            %td= "Mittwoch, 28. Mai 2014, ab 18 Uhr (bis 02 Uhr)"
          %tr
            %th= "Wo:"
            %td
              %a{href: 'https://www.google.ch/maps/place/Kappenb%C3%BChlstrasse+60/@47.4072713,8.4983802,18z/data=!3m1!4b1!4m2!3m1!1s0x47900baa2ee3eda3:0xb28319e2f7b221bf'}= "Turnerhaus Hönggerberg, Kappenbühlstrasse 60, Zürich."
              Weitere Infos zur Anreise folgen.
          %tr
            %th= "Preis:"
            %td
              Eintritt: Gratis
              %br/
              Abendessen: aktive Leiter: CHF 10.-, Ehemalige und Mitglieder des APV: CHF 20.-
          %tr
            %th= "Dresscode:"
            %td
              Kleidung in den Georgsfarben (grün/weiss). Ritter und Hofdamen sind selbstverständlich willkommen und erwünscht.
              Auch Gitarren und Liederbüchlein sind sicherlich nicht fehl am Platz. Achtung: der Anlass findet im Freien statt!
          %tr
            %th= "Alkoholausschank:"
            %td
              Das DiFF finanziert sich zu einem grossen Teil über die Bar. Deshalb sind selbst mitgebrachte, alkoholische Getränke auf dem Gelände untersagt.
              Bier und Wein werden nur an über-16-jährige Personen verkauft, Spirituosen werden generell nicht ausgeschenkt. Bitte geniesst mit Mass!


      .col-md-5
        = image_tag 'events/diff14.jpg', style: 'width: 100%; box-shadow: 0 0 10px #555;'

%section.white
  .container
    .row
      .col-md-6
        %h2= "Anmeldung"
        %p Die Anmeldung ist leider geschlossen!

%section
  .container
    .row
      .col-md-12
        %h2= "Programm"
        %p
          An den Festspielen winkt ein abwechslungsreiches Programm:
        %table
          %tr
            %th= "18:00"
            %td
              %p{ style: 'text-decoration: line-through;'}= "Lockeres Geländespiel im angrenzenden Wald zur Einstimmung (freiwillig)"
          %tr
            %th= "19:00"
            %td= "Abendessen: Spanferkel vom Grill, Salate und Mineral (Für die Vegetarier ist auch gesorgt)"
          %tr
            %th= "20:00"
            %td
              Eröffnung der Festspiele mit kurzer Anpsprache
              %br/
              %br/
              Attraktionen an den Festspielen:
              %ul
                %li= "Bar mit Bier und Wein an Gäste über 16"
                %li= "Verschiedene Posten mit Spielen"
                %li= "Grosses Lagerfeuer mit Grillmöglichkeit"
                %li= "Musikalische Untermalung"
          %tr
            %th= "02:00"
            %td
              Abschluss

        %h2= "Eintritt"
        %p
          Der Eintritt ist für alle Personen, die zur Zeit ein Leiteramt im Distrikt einnehmen, gratis. Für das prächtige
          Abendessen (Spanferkel, Salate und Getränke), müssen wir allerdings einen Unkostenbeitrag von CHF 10.- verrechnen.
        %p
          Für alle Personen ohne Leiterfunktion und die Mitglieder des APV St. Georg kostet der Eintritt und das
          Abendessen CHF 20.-.

        %h2= "Helfer"
        %p
          Wir suchen für die geplanten Festspiele noch fleissige Helfer. Als Dankeschön erhältst du das Abendessen gratis.
          Vergiss nicht deine Emailadresse bei der Anmeldung anzugeben, damit wir dich kontaktieren können. Melde dich
          aber schnell an, wir nehmen maximal 10 Helfer.

        %br/
        %br/

