!!!
%html
  %head
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Pfadikorps Limmat'
    %meta{name: "description", content: "#{content_for?(:description) ? yield(:description) : 'Pfadiheime'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{ class: "#{controller_name}_controller #{action_name}_action #{ view_options[:single_page] ? 'single_page' : ''}" }
    = render 'layouts/shared/header'
    = render 'layouts/shared/effects'
    %main{ role: 'main'}
      = render 'layouts/shared/alerts'
      = yield
    = render 'layouts/shared/footer'
